<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Rooky - Free App Landing page template for startup</title>
  <link rel="stylesheet" href="stylesheets/css/bootstrap.min.css">
  <link rel="stylesheet" href="stylesheets/css/jquery.fancybox.css">
  <link rel="stylesheet" href="stylesheets/css/owl.carousel.css">
  <link rel="stylesheet" href="stylesheets/css/owl.transitions.css">
  <link rel="stylesheet" href="stylesheets/css/main.css">
  <link rel="stylesheet" href="stylesheets/css/responsive.css">
  <link rel="stylesheet" href="stylesheets/css/animate.min.css">
  <link rel="stylesheet" href="stylesheets/css/line-icon.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>

<body>{{{ body }}}</body>

</html>